<div class="container">
	<h1>API Ecommerce - Proyecto Final</h1>
	<h4><b>Curso:</b> Programación Backend</h4>
	<h4><b>Plataforma:</b> CoderHouse</h4>
	<h4><b>Developer:</b> Nicolás Bastias</h4>
	<h4 style="margin-top: 20px;"><b>Descripción del proyecto</b></h4>
	<div class="description">
		<p>
			Este proyecto corresponde a una API desarrollada como proyecto final para
			el curso Programación Backend en la plataforma CoderHouse.
		</p>
		<p>
			Consiste en una API para un E-Commerce que le permite a los
			administradores del sitio agregar, editar y eliminar productos y a los
			usuarios comunes, obtener y agregar los diferentes productos a su carrito
			de compras pudiendo generar una orden al finalizar.
		</p>
	</div>
	<h4 style="margin-top: 20px;"><b>Documentacion</b></h4>
	<p>La documentación de cada endpoint se encuentra en la ruta
		<a href="/api-docs" target="_blank">/api-docs</a></p>
	<h4 style="margin-top: 20px;"><b>Adicionales</b></h4>
	<ul>
		<li>Se desarrolló un chat que puede encontrarse en la ruta
			<a href="/chat" target="_blank" rel="noopener noreferrer">/chat</a></li>
		<li>
			Se puede ver la configuracion del servidor ingresando en la ruta
			<a href="/configuracion" target="_blank" rel="noopener noreferrer">/configuracion</a></li>
		</li>
	</ul>
</div>